@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1.2;
}

img {
  width: 100%;
}

body {
  overflow-x: hidden;
}

body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  height: 110vh;
  width: 100vw;
}

ul li:last-child {
  padding-right: 0;
}

.active {
  border-bottom: 4px solid #b0dcff;
}
